.navbar3{
    border: 0;
    border-radius: 0 !important;
    font-size: 20px;
    background-image:linear-gradient(to bottom ,#e74c3c 0,#a8221b 100%);
}
.navbar3 > .navbar-brand, .navbar-brand:hover, .navbar-brand:focus {
    color: #ecf0f1;
    font-size: 30px !important;
    font-weight: bold;
}
.navbar3 .navbar-nav>li>a {
    color: #fff;
}
.navbar3 .navbar-nav>li>a:hover,.navbar3 .navbar-nav>li>a:focus {
    color: #fff;
    background-image:linear-gradient(to top ,#e74c3c 0,#c0392b 100%)!important;
}
.navbar3 .drop>li>a:focus, .drop>li>a:hover {
    text-decoration: none;
    background-color: #fff !important;
    color: #fff !important;
}
.navbar3 .drop .open>a, .nav .open>a:focus, .drop .open>a:hover {
    background-color: #fff;
    border-color: #fff;
    color: #fff !important;
}
.navbar3 .navbar-nav>li>.dropdown-menu {
    font-size: 18px;
    background-color: white !important;
    color: white !important;
}
.navbar3 .dropdown-menu>li>a{
      color: #224867 !important;
}
.navbar3 .navbar-toggle {
    border: 1px solid white;
}
.navbar3 .navbar-toggle .icon-bar {
    background-color: white !important;
}
body{
  background-color: #f2f2f2;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
.side-menu{
  background-color: #124b9a;
  color: white;
  border-style: outset;
  border-width: thick;
  border-color: #a8221b;
}
.sides{
  color: white;

}
.Osu-Logo{
  height: 35%;
  width: 35%;
}
.media-pics{
  height: 14vh;
  width: 10vw;
}
.FootIcons{
  padding: 10px ;
  display: inline-block;
}
.curs{
  font-family: cursive;
  color: #337ab7;
}
@media screen and (max-width: 991px) {
  .side-menu {

    display: none;
  }
}
